@import "tailwindcss";

@layer utilities {
  .text-outline {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.8);
    color: transparent;
  }
}

:root {
  --background-light: #f8f7f6;
  --background-dark: #121212;
}

body {
  font-family: 'Inter', sans-serif;
}
